.container{
        margin-top:0px;               
        width:500px;
        margin-right: 500 ;
        margin-left: 500;
        border-block-end-color:black
    }
.fontSet{

font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400

}
.buttonSet{
    
        background-color:#FF6347;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
      
      
}