.container{
        margin-top:0px;               
        width:500px;
        margin-right: auto ;
        margin-left: auto;
      
    }
    .loader {

      border: 6px solid #f0e9e9;
      border-top: 6px solid #CC0000;
      border-bottom: 6px solid #CC0000;
      border-radius: 50%;
      margin-left:auto;
      margin-right:auto;
      margin-top: 180px;
      width: 90px;
      height: 90px;
      animation: spin 1s linear infinite;
      position: relative
    }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    @media (max-width:600px){
.container{

  width:auto;
  margin-left: auto;
  margin-right: auto;

}
    }