<div>
  <a routerLink="/restaurantDetails" routerLinkActive="active"></a>
</div>



<div class="activityContainer" *ngIf="afAuth.user | async as user">

<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="navbar-header">
    <h4
      style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif"
      class="navbar-brand-header" >
      <b>Dashboard</b>
    </h4>
  </div>
  <div>
    <a class="nav-link"
      style="font-size: 15px"
      class="navbar-brand"
      data-toggle="tooltip"
      data-placement="bottom"
      title="will lead you to your activities"
      routerLink="/restaurantDetails"
      routerLinkActive="active"
      ><b>Profile</b></a>
    <a class="nav-link"
      style="font-size: 15px"
      class="navbar-brand"
      data-toggle="tooltip"
      data-placement="bottom"
      title="Just a click away from logout."
      routerLink="#"
      routerLinkActive="active"
      (click)="logout()"
      ><b>Logout</b></a
    >
  </div>
</nav>

<!--..................... Print stored restaurants................... -->

<div *ngIf="loadingData; else loadingLoop">   
<div class="card">
  <nav class="navbar navbar-expand-lg navbar bg-light ">
    <div class="almostleft">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ngb-tabset>
        <ngb-tab title="All The Restaurants">
            <ng-template ngbTabContent>
             <ul class="navbar-nav mr-auto">
              </ul>
              <ul class="list-group">
                <li class="list-group-item list-group-item-danger" *ngFor="let x of restaurantDetails; let i = index"
                  >
                  <span><b>Name:</b>&nbsp;{{x.name}}</span>
                <br>
                <span><b>Image:</b>&nbsp;</span>&nbsp;
                <img class="imageBig" [src]="x.image"height="60" width="60" />
                <br><span><b>Ratings:&nbsp;</b></span>
                <ngb-rating  [(rate)]="x.ratings">
                 <ng-template let-fill="fill" let-index="index">
                   <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                 </ng-template>
               </ngb-rating>
               <br> <span><b> Date </b></span>{{ x.date.day }}:{{ x.date.month }}:{{ x.date.year }}

                <br>
                <!-- <span><b>Location:</b></span> {{x.location}} -->
                </li>
              </ul>
        </ng-template>      
      </ngb-tab>
      <ngb-tab title="Top Rated ★">
          <ng-template ngbTabContent>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-danger" *ngFor="let y of sortRestaurantResult;">
                      <span><b>Name:</b>&nbsp;{{y.name}}</span>
                      <br><span><b>Image:</b>&nbsp;</span><br>
                      <img class="imageBig" [src]="y.image" height="60" width="60"/>
                      <br><span><b>Ratings</b></span>
                      <ngb-rating  [(rate)]="y.ratings">
                      <ng-template let-fill="fill" let-index="index">
                          <span class="star" [class.filled]="fill === 100" >&#9733;</span>
                        </ng-template>
                      </ngb-rating><br>
                  </li>
                </ul>
              </ng-template>  
            </ngb-tab>  
            </ngb-tabset>     
        
            </div>
        </div>
        </nav>
      
     
      </div>
    </div>  
   </div>



   <!--                    To Add new Restaurant                 -->



<div class="containerRight">
    <form [formGroup]="myForm" >
      <div class="form-group">
        <div class="card-header">
          <h4 >Add Restaurant :</h4>
        </div>
        <div>
          <label>Restaurant Name:</label>
          <input  class="form-control" formControlName="name"  type="text" placeholder="Enter the Restaurant name:" required/>
        </div>
        <br />
        <div>
          <label>Location:</label>&nbsp;
        <!-- <input  placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"> -->
        <!-- <agm-map formControlName="location" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker  [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map> -->
        </div>
        <br>
        <div class="form-group">
          <label>Ratings:</label>
          <ngb-rating formControlName="ratings" [(rate)]="currentRate">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" >&#9733;</span>
              </ng-template>
            </ngb-rating>
        </div>
        <br>
        <div class="form-group">
          <label>Date:</label>&nbsp;
         
          <input class="form-control" placeholder="yyyy-mm-dd"
          name="dp" formControlName='date' ngbDatepicker #d="ngbDatepicker">
   <div class="input-group-append">
     <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
   </div>
   </div>
        <br>
        <div class="form-group">
          <label>Images:</label>&nbsp;
          <input  type="file"   (change)="uploadFile($event)">
          
          <div><p><ngb-progressbar showValue="true" type="success" [value]="uploadPercent | async"></ngb-progressbar></p>
           <!-- {{ uploadPercent | async }} -->
            </div> 
          <a [href]="downloadURL | async">{{ downloadURL | async }}</a>


        </div>
      </div>
      <br>
      <button class="buttonSet" style='padding: 10px;
      text-align: center;
      text-decoration: none;
      
      border-radius: 12px;
      color:black;
      margin-right:16px'
       
        type="submit"
        (click)="submitRestaurant()"
      >
        Submit
      </button>
    </form>
  </div>


<!-- ---------------------- Loader Component ----------------------------- -->

<ng-template #loadingLoop>
    <div class="loader"></div>
</ng-template>