.navbar{
  color:white;
}

.gridContainer{
   /* background: lightgray; */
  width:720px;
  display: grid;
  grid-template-columns:auto auto;

}

.d2{
    bottom: 0px;
    /* width: auto; */
    display:grid;
  }
  .d3{
    position: absolute;
    top: 60px;
    right: 100px;
    width: 320px;
    font-size: 15px;
    justify-content: center;
    /* justify-items: center; */
    text-align:left;
  }
 
 .restaurantGrid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 05px;
 }
  .list-group-item:hover{
    color: rgb(15, 15, 15);
    background-color: white;
  }

  .star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: goldenrod;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

/* .imageBig:hover {
  position:relative;
  top:-20px;
  left:55px;
  width:200px;
  height:auto;
  display:block;
  z-index:999;
} */

.agm-map{
  height: 300px;
}

.loader {

  border: 16px solid #f0e9e9;
  border-top: 16px solid crimson;
  border-bottom: 16px solid crimson;
  border-radius: 50%;
  margin-left:280px;
  margin-top:250px;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  position: relative
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

