.navbar{
  color:white;
}

.gridContainer{
   /* background: lightgray; */
  width:100%;
  display: grid;
  grid-template-columns:50px 50px;
}


.d2{
    /* bottom: 0px; */
    width: auto;
    display:grid;
    position: relative;
  }
  .d3{
  
    position: fixed ;
    /* overflow:auto; */
    bottom: 60px;
    font-size: 15px;
    justify-content: center;
    /* justify-items: center; */
    text-align:center;
  }
.addRestaurant{
  position:fixed;
  right: 0px;
  bottom: 50px;

}
 
 .restaurantGrid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 05px;
 }
  .list-group-item:hover{
    color: rgb(15, 15, 15);
    background-color: white;
  }

  .star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: goldenrod;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

/* .imageBig:hover {
  position:relative;
  top:-20px;
  left:55px;
  width:200px;
  height:auto;
  display:block;
  z-index:999;
} */

.agm-map{
  height: 300px;
}

.loader {

  border: 6px solid #f0e9e9;
  border-top: 6px solid #CC0000;
  border-bottom: 6px solid #CC0000;
  border-radius: 50%;
  margin-left:280px;
  margin-top:250px;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
  position: relative
}
.pac-container {
  z-index: 1051;
}
.loader2 {

  border: 6px solid #f0e9e9;
  border-top: 6px solid #CC0000;
  border-bottom: 6px solid #CC0000;
  border-radius: 50%;
  margin-left:200px;
  margin-top:auto;
  margin-bottom: auto;
  top:0px;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: relative
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

