<div>
  <a routerLink="/restaurantDetails" routerLinkActive="active"></a>
</div>



<div class="activityContainer" *ngIf="afAuth.user | async as user">

  <nav class="navbar sticky-top navbar-dark bg-danger">
    <div class="navbar-header">
      <a style="font-size: 20px; transform:skewY(-5deg)" class="navbar-brand" routerLink="/restaurantDetails" routerLinkActive="active">
        <b>🍔Gourmet Lovers🍔</b></a>
    </div>&nbsp;
    <div class="navbar-header">
        <input style="width: 430px;" form  ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" placeholder="Location 📍 based search" autocorrect="off" autocapitalize="off" spellcheck="off" type="search" class="form-control my-lg-0" #search [formControl]="searchControl">
        <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
    </div>
    <div>
        <a type="search" style="font-size: 15px;" class="btn btn-danger my-2 my-sm-0"  data-toggle="tooltip" data-placement="bottom" 
        title="make sure you have selected proper location" (click)="searchByLocation()" ><b>Search</b></a>

    </div>

    <div>
       
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-danger mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()"><b>For Better Search</b></button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem data-toggle="tooltip" data-placement="bottom"
                title="Places you have contributed!" (click)="myPlaces()">My Places ☕</button>
                <button ngbDropdownItem (click)="favourites()">My Favourites 💙</button>
                <button ngbDropdownItem (click)="topRated()">Top Rated ★</button>
                <button ngbDropdownItem (click)="recentlyAdded()">Recently Added ⏲</button>
                <button ngbDropdownItem (click)="alphabeticalOrder()">☕ A>>Z ☕</button>
              </div>
            </div>
          
         
        
      <a style="font-size: 15px" class="navbar-brand" data-toggle="tooltip" data-placement="bottom"
        title="will lead you to your activities" routerLink="/restaurantDetails"
        routerLinkActive="active"><b>Profile</b></a>

      <a style="font-size: 15px" class="navbar-brand" data-toggle="tooltip" data-placement="bottom"
        title="Just a click away from logout." routerLink="#" routerLinkActive="active"
        (click)="logout()"><b>Logout</b></a>

    </div>
  </nav>



<!--..................... Print stored restaurants................... -->

<div class="gridContainer">
    <div *ngIf="loadingData; else loadingLoop">
   <div class="d2">
    <div class="card">
      <nav class="navbar navbar-expand-lg navbar bg-light ">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ngb-tabset>
            <ngb-tab title="Welcome!">
              <ng-template ngbTabContent>
               
                  <div class="restaurantGrid">

                                      <!-- <ul class="list-group"> -->
                  <div class="list-group-item list-group-item-light" *ngFor="let x of restaurantDetails; let i = index"
                    [class.selected]="x===selectedRestaurant" (click)="onTap(x)" >
                    <div><b>Name:</b>&nbsp;<span>{{x.name}}</span>&nbsp;
                      <span style="margin-right:100px;"><button class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Press to make it your favourite!"
                        (click)="addToFavourites(x)">💙</button></span>
                    </div>
                     <br>
                    <span>&nbsp;</span>&nbsp;
                    <img class="imageBig" [src]="x.image" height="140" width="110" />
                    <br><span><b>Ratings:&nbsp;</b></span>
                    <ngb-rating [(rate)]="x.rating">
                      <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                      </ng-template>
                    </ngb-rating>
                    <!-- <br> <span><b> Date </b></span>{{ x.date.day }}:{{ x.date.month }}:{{ x.date.year }} -->
                    <br>
                    <span><b>Location:</b></span> {{x.location}}
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
          </div>
      </nav>
    </div>
  </div>
  </div>
  
<!--                    To Add new Restaurant                 -->

<div class="d3">

  <form [formGroup]="myForm">
    <div class="form-group">
      <div class="card-header">
        <h4>Add Restaurant :</h4>
      </div>
      <div><br>
        <label>Restaurant Name:</label>
        <input class="form-control" formControlName="name" type="text" placeholder="Enter the Restaurant Name"
          required />
      </div>
      <br />
      <div>
        <label>Location:</label>
   
        <!-- <div #map [style.width]="width" [style.height]="height"></div> -->

        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" formControlName="location" #search [formControl]="searchControl">
        <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker  [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </div>
      <br>
      <div class="form-group">
        <label>Ratings:</label>
        <ngb-rating formControlName="rating" [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div class="form-group">
        <label>Date:</label>&nbsp;
        <div class="input-group-append">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName='date' ngbDatepicker
            #d="ngbDatepicker">
          <button style="border: black" class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Press</button>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label>Images:</label>&nbsp;
        <input type="file" (change)="uploadFile($event)">
        <div>
          <p>
            <!-- <ngb-progressbar></ngb-progressbar> -->
          </p>
          <!-- {{ uploadPercent | async }} -->
        </div>
        <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
      </div>
    </div>
    <button class="btn btn-danger" [disabled]="!(this.myForm.controls.name.value && this.myForm.controls.rating.value)" type="submit" (click)="submitRestaurant()">
      Submit
    </button>
  </form>
</div>
</div>


<!-- ---------------------- Loader Component ----------------------------- -->

<ng-template #loadingLoop>
  <div class="loader"></div>
</ng-template>

<!-- --------------------------- END ------------------------------------- -->


<!--.......................................EXTRA...........................................-->
<!-- Add to favourites
<ng-template #content>
        <div class="input-group">
          <button (click)="dp.toggle()"></button>
          <button class="btn btn-outline-secondary calendar"  type="button"></button> -->
<!-- </div>
        <form  nonvalidate>
           <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Sure Add to Favourites?</h4>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="input-group">
                <input style="width: 40%;margin-top:25px; float:left;" id="t1" class="form-control"
                   type="text" #ac [(ngModel)]="selectedX.name" placeholder="name" required />
              </div>
          </div>
          <div class="card-header"></div>
        <div *ngIf="selectedX">
          <div class="input-group">
            <input style="width: 40%;margin-top:25px; float:left;" id="t1" class="form-control"
              formControlName="updateName" type="text" #ac [(ngModel)]="selectedX.name" placeholder="name" required />
          </div>
        </div>
    </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" 
              (click)="favourites(selectedX)">Yes</button> -->
<!-- <button type="button" class="btn btn-outline-danger" (click)="delItems(selectedX,objectIndex)" data-toggle="tooltip"
              data-placement="bottom" title="Will move activity to Done-Activities.">Done</button> -->
<!-- </div>
</ng-template> -->